@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }
}

@layer components {
  .tasks {
    @apply flex flex-col gap-3 h-full;
  }

  .task {
    @apply p-3 outline-none rounded cursor-pointer bg-neutral-100 transition-all;
    flex-grow: var(--grow, 1);
  }

  .task.editing {
    @apply outline-2 outline-sky-500  bg-white shadow-inner;
  }
}
